{% extends 'front.html.twig' %}

{% block body %}
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Ajout</span> Reclamation</span></h3>
    {{ form_errors(form) }}
    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}
